*{
   margin :0;
   padding: 0;
   box-sizing: border-box; 
}

header{
    background-color: beige;
    position: relative;
    height: 200px;
}

nav{
    position: absolute;
    right: 25px;
    top: 25px;
}
h1{
    position: absolute;
    left: 20px;
    top: 10px;
}
nav li{
    display: inline;

}
a{
    color: aliceblue;
}
.contenedor_limite{
    background-color: gray;
    max-width: 1200px;
    margin: 0 auto;
}
.contenedir_padre{
    display: flex;

}
section{
    margin: 25px;
}





.card{
    background-color: red;
    width: 300px;
    border: 4px solid;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

img{
    max-width: 100%;
}

footer{
    background-color: beige;
}
.parent {
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 3; 
    }
    
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    
    .div3 { grid-area: 2 / 2 / 3 / 3; }